<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>Management.Register</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>Management.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Suche</servlet-name>
    <servlet-class>Management.Suche</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Freunde</servlet-name>
    <servlet-class>Management.Freunde</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Gruppen</servlet-name>
    <servlet-class>Management.Gruppen</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Forschung</servlet-name>
    <servlet-class>Management.Forschung</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Management</servlet-name>
    <servlet-class>Management.Management</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Pinnwand</servlet-name>
    <servlet-class>Management.Pinnwand</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PinnwandManagement</servlet-name>
    <servlet-class>Management.PinnwandManagement</servlet-class>
  </servlet>

   
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Suche</servlet-name>
    <url-pattern>/Suche</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Freunde</servlet-name>
    <url-pattern>/Freunde</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Gruppen</servlet-name>
    <url-pattern>/Gruppen</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Forschung</servlet-name>
    <url-pattern>/Forschung</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Management</servlet-name>
    <url-pattern>/Management</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Pinnwand</servlet-name>
    <url-pattern>/Pinnwand</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>PinnwandManagement</servlet-name>
    <url-pattern>/PinnwandManagement</url-pattern>
  </servlet-mapping>

  
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>